[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "vendor/keyscss"]
	path = vendor/keyscss
	url = git@github.com:michaelhue/keyscss.git
[submodule "vendor/hogan"]
	path = vendor/hogan
	url = git@github.com:twitter/hogan.js.git
[submodule "vendor/codemirror"]
	path = vendor/codemirror
	url = git@github.com:marijnh/CodeMirror.git
[submodule "vendor/esprima"]
	path = vendor/esprima
	url = git@github.com:ariya/esprima.git
[submodule "vendor/mousetrap"]
	path = vendor/mousetrap
	url = git@github.com:ccampbell/mousetrap.git
[submodule "vendor/backbone"]
	path = vendor/backbone
	url = git@github.com:documentcloud/backbone.git
[submodule "vendor/underscore"]
	path = vendor/underscore
	url = git@github.com:documentcloud/underscore.git
[submodule "vendor/jquery-hoverIntent"]
	path = vendor/jquery-hoverIntent
	url = git@github.com:briancherne/jquery-hoverIntent.git
[submodule "vendor/tablesorter"]
	path = vendor/tablesorter
	url = git@github.com:Mottie/tablesorter.git
